; Check http://editorconfig.org/ for more informations

; Top-most EditorConfig file

root = true

[*]
trim_trailing_whitespace = true
end_of_line = LF
insert_final_newline = true
charset = utf-8
indent_style             = tab
indent_size              = 4

[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{yaml,yml,rst}]
indent_style             = space
indent_size              = 2


[*.{sh,bash}]
indent_style             = tab
indent_size              = 4

[*.list]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style             = space
indent_size              = 2
