source/safesearch/combined.txt
source/dns-servers/combined.txt
tmp/**.*
pdns.py

# prevent outputs from PyFunceble
output/
dir_structure.json
gambling.sh
del_adware.sh
add_gambling.sh
add_adware.sh
scripts/adware.sh
scripts/spam.sh
api/api.cfg
screenshots/
