# My Privacy DNS hidden scripts
categories.md
commit.msg
commit.txt
rpz.json
scripts/adware.sh
scripts/bulk_add.sh
scripts/bulk_clean.sh
scripts/config.php
scripts/commits_to_bash.php
scripts/commits_to_bash.sh
scripts/commits_to_bash.since.txt
scripts/easylistloop.sh
scripts/getadmiral.bash
scripts/lib.gitlab.php
scripts/pirated_batchupdater.php
scripts/pirated_bot.bash
scripts/pirated.bash
scripts/spam.sh
source/dns-servers/combined.txt
source/safesearch/combined.txt
scripts/easylistloop.sh

# prevent outputs from PyFunceble
api/**
api/api.cfg
dir_structure.json
output/
screenshots/

# Visual Basic Code
.vscode
**.code-workspace
no-git/**

.idea
